.services
    background-color: #1c242a
    padding: 60px 0 102px 0
    // .services__dsc

    &__dsc
.title

    // .title_services

    &_services
        margin: 0 auto
        margin-top: 33px
.sub-title

    // .sub-title_services

    &_services
        font-size: 35px
        font-weight: 500
        color: #ffffff

.dsc-services

    // .dsc-services__item

    &__item

    // .dsc-services__wrapper-img

    &__wrapper-img

    // .dsc-services__title

    &__title

    // .dsc-services__dsc

    &__dsc

    // .dsc-services__more-wrapper

    &__more-wrapper

    // .dsc-services__line

    &__line

    // .dsc-services__more

    &__more
