@use 'sass:math'
@import "../../sass/libs/variables"
$width-news-event: 905

.interesting
    padding: 64px 0 75px 0

.swiper_interesting-initialized
    min-height: 320px
    max-height: 510px
    .swiper-wrapper
        height: auto
        .swiper-slide
            &__subWrapper_interesting
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center
                width: 785px
                min-height: 250px
                height: auto
                @media (max-width: 767px)
                    flex-direction: column

            &__img-wrapper
                &_interesting
                    width: 204px
                    height: 260px
                    img
                        width: 100%
                        height: 100%
            // .swiper-slide__quotes-wrapper

            &__quotes-wrapper
                max-width: 515px
                min-height: 125px
                @media (max-width: 767px)
                    display: flex
                    flex-direction: column
                    align-items: center
            // .swiper-slide__quotes-content

            &__quotes-content
                font-family: 'PT Sans'
                font-size: 25px
                line-height: 30px
                font-weight: 400
                font-style: italic
                text-transform: uppercase
                color: #000000
            // .swiper-slide__quotes-name

            &__quotes-name
                font-size: 15px
                line-height: 25px
                font-style: normal
                text-transform: none
                color: #1c242a
                margin-top: 40px
            // .swiper-slide__quotes-data

            &__quotes-data
                font-size: 15px
                line-height: 25px
                font-style: normal
                text-transform: none
                color: #1c242a

.swiper-button
    // .swiper-button_interesting
    &_interesting
        margin-top: 0
        align-items: center
        position: relative

    &__title
        &_interesting
            padding: 0
            width: 50px
            height: 50px
            top: auto
            display: flex
            align-items: center
            justify-content: center

.news-event
    padding-top: 75px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: math.div($width-news-event, $maxWidthContainer) * 100%
    @media (max-width: 576px)
        flex-direction: column
        width: auto

    &__data
        font-family: 'PT Sans'
        font-size: calc(12em / 16)
        line-height: 25px
        font-weight: 400
        color: #bb9c66

    // .news-event__wrapper
    &__wrapper
        font-size: 16px
        width: math.div(415, $width-news-event) * 100%
        @media (max-width: 576px)
            width: auto
    &__subWrapper
        margin-top: 40px
        font-family: 'PT Sans'
        @media (max-width: 576px)
            margin-top: 0
    // .news-event__title-wrapper

    &__title-wrapper
        padding-left: 35px
        font-family: 'PF Din Text Cond Pro'
        font-size: calc(35em / 16)
        line-height: calc(25em / 35)
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 0.1em
        color: #000000
        @media (max-width: 576px)
            display: block
            max-width: 180px
            margin: 0 auto
            
        &_news
            background: url("../../icons/interesting/news.png") left no-repeat
        &_events
            background: url("../../icons/interesting/events.png") left no-repeat
        &_subscription
            margin-top: 57px
            background: url("../../icons/interesting/subscription.png") left no-repeat

    // .news-event__title

    &__title
        position: relative
        text-decoration: underline
        font-size: calc(15em / 16)
        font-weight: 700
        text-decoration: underline
        color: #333333

    &__content
        font-size: calc(15em / 16)
        color: #333333
        @media (max-width: 576px)
            text-align: justify
            
.sending
    align-self: flex-end
    @media (max-width: 576px)        
        margin: 0 auto
        margin-top: 30px
    // .sending__form
    &__form
        display: flex
        justify-content: space-around
        align-items: center
        width: 100%
        height: 50px
        border: 3px solid #bb9c66
    // .sending__input

    &__input
        width: 75%
        height: 32px
        border: none
        border-right: 3px solid #bb9c66
    // .sending__btn

    &__btn._btn-reset
        display: flex
        justify-content: flex-start
        width: 25%
        padding: 15px 17px 10px 20px

        span
            position: relative
            text-align: left
            font-family: 'PF Din Text Cond Pro'
            font-size: 21.3px
            line-height: 25px
            font-weight: 500
            text-transform: uppercase
            letter-spacing: 0.1em
            color: #1c242a
            &::after
                content: ''
                position: absolute
                width: 23px
                height: 13px
                background: url('../../icons/interesting/arrowMini.png') center center/cover no-repeat
                right: auto
                bottom: auto
                top: 1px
                @media (max-width: 767px)
                    display: none
