.title
  margin: 0 auto

.sub-title
  &_lots
    margin-top: 27px
  &_services
    margin-top: 33px
    font-size: 35px
    font-weight: 500
    color: #ffffff
  &_interesting
    margin-top: 25px

.separator
  display: flex
  justify-content: space-between
  max-width: 950px
  margin-top: 25px
  // .separator__icon-wrapper

  &__icon-wrapper
    display: flex
    width: 39%
    align-items: center
    justify-content: space-between
    &_left
      flex-direction: row-reverse

  // .separator__line

  &__line
    display: block
    width: 81%
    height: 1px
    background-color: #bb9c66

  // .separator__round

  &__round
    display: block
    width: 9px
    height: 9px
    background-image: url("../../icons/separator/round.png")

  // .separator__squareMin

  &__squareMin
    display: block
    width: 15px
    height: 15px
    background-image: url("../../icons/separator/squareMin.png")

  // .separator__squareBig

  &__squareBig
    display: block
    width: 25px
    height: 25px
    background-image: url("../../icons/separator/squareBig.png")
    @media (max-width: 576px)
      display: none

  // .separator__times

  &__сentral-icon
    width: 55px
    height: 58px
    background-position: center center
    background-repeat: no-repeat
    &_lots
      background-image: url(../../icons/separator/times.png)
    &_services
      background-image: url(../../icons/separator/services.png)
    &_interesting
      background-image: url(../../icons/separator/interesting.png)
