.separator
  display: flex
  max-width: 950px
  margin: 0 auto


  // .separator__icon-wrapper

  &__icon-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    &_left
      flex-direction: row-reverse

  // .separator__line

  &__line
    display: block
    width: 300px
    height: 1px
    background-color: #bb9c66

  // .separator__round

  &__round
    display: block
    width: 9px
    height: 9px
    background-image: url("../../icons/separator/round.png")

  // .separator__squareMin

  &__squareMin
    display: block
    width: 15px
    height: 15px
    background-image: url("../../icons/separator/squareMin.png")

  // .separator__squareBig

  &__squareBig
    display: block
    width: 25px
    height: 25px
    background-image: url("../../icons/separator/squareBig.png")


  // .separator__times

  &__times
