@use 'sass:math'

@import "libs/bootstrap-reboot.min"
// @import "libs/fonts"
@import "libs/animate.min"
@import "libs/swiper-bundle.min"
@import "libs/fonts"


*
    font-family: 'Roboto', 'Play', 'UniSansCaps', sans-serif
body
    position: relative

@import "libs/variables"

.container
    max-width: $maxWidthContainer + px
    margin: 0 auto
    padding: 0px 0px 0px 0px
    @media (max-width: 767px)
        padding: 0px 10px 0px 10px

.showBlock
    display: block
.showInline-Block
    display: inline-block
.showGrid
    display: grid
.showFlex
    display: flex
.hide
    display: none
._btn-reset
    border: none
    border-radius: 0
    background: none
    cursor: pointer
