@use 'sass:math'

@import "libs/bootstrap-reboot.min"
// @import "libs/fonts"
@import "libs/animate.min"
@import "libs/swiper-bundle.min"
@import "libs/fonts"

*
    font-family: 'Roboto', 'Play', 'UniSansCaps', sans-serif
body
    position: relative

@import "libs/variables"

.container
    max-width: $maxWidthContainer + px
    margin: 0 auto
    &_range
        overflow: hidden
        padding-bottom: 5px
    @media ( max-width: 767px )
            padding-left: 10px
            padding-right: 10px
            max-width: 540px
    @media ( max-width: 576px )
            padding-left: 10px
            padding-right: 10px
            width: 100%                                             
        

.showBlock
    display: block
.showInline-Block
    display: inline-block
.showGrid
    display: grid
.showFlex
    display: flex
.hide
    display: none
._btn-reset
    border: none
    border-radius: 0
    background: none
    cursor: pointer

.title
    display: block

.sub-title
    display: block
    font-family: 'PF Din Text Cond Pro'
    text-transform: uppercase
    text-align: center
    letter-spacing: 0.15em
    margin-bottom: 0
