.auction
    background: url('../../img/auction_backgraund.png')
    background-size: cover
    background-repeat: no-repeat
    padding: 34px 0px 100px 0px

    // .auction__content

    &__content

    // .auction__title-exclusive

    &__title-exclusive
        display: block
        max-width: 380px
        margin: 0 auto
        font-family: 'Ceremonious One'
        font-size: 40px
        line-height: 25px
        font-weight: 400
        color: #bb9c66

    // .auction__title-lots

    &__title-lots
        display: block
        margin: 0 auto
        margin-top: 23px
        font-family: 'PF Din Text Cond Pro'
        font-size: 35px
        line-height: 35px
        font-weight: 400
        text-transform: uppercase
        text-align: center
        letter-spacing: 0.15em
        color: #ffffff

    // .auction__dsc

    &__dsc
        display: block
        max-width: 690px
        margin: 0 auto
        margin-top: 27px
        font-family: 'PT Sans'
        font-size: 15px
        line-height: 25px
        font-weight: 400
        color: #ffffff
        text-align: center

    // .auction__btn-join

    &__btn-join
        background: rgba(0,0,0, 0.9)
        display: block
        width: 250px
        height: 50px
        margin: 0 auto
        margin-top: 58px
        background-image: linear-gradient(0.0deg, rgba(0,0,0,0.95) 0%, rgba(158,158,158,0.95) 50%, rgba(208,208,208,0.95) 100%)
        border: 3px solid #bb9c66
        font-family: 'Idealist Sans'
        font-size: 15px
        line-height: 21px
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 0.1em
        color: #ffffff

.container
