@import "../../sass/libs/_variables.sass"

.range
    padding-top: 100px
    // .range__items
    &__items
    &__wrapper-dsc
        display: flex
        width: 100%
    &__ornament
        max-width: 100%
        margin-right: 44px
        @media (max-width: 992px)
            display: none

    &__dsc
        font-family: 'PT Sans'
        font-size: 15px
        padding: calc(40em / 15) calc(20em / 15) 0px calc(20em / 15)
        line-height: calc(25em / 15)
        font-weight: 400
        color: #333333
        text-align: justify
        @media (max-width: 992px)
            font-size: 24px
        @media (max-width: 767px)
            font-size: 26px
            



.items-range
    display: grid
    grid-template-columns: repeat(auto-fit, 250px)
    grid-template-rows: repeat(auto-fit, 250px)
    list-style: none
    column-gap: 100px
    row-gap: 50px
    padding: 0px 0px 0px 0px
    margin: 0 auto
    justify-content: center
    align-items: center
    justify-items: center
    &__item
        padding-top: 128px
        position: relative
        display: flex
        justify-content: center
        width: 250px
        height: 250px
        span
            display: block
            text-align: center
            font-family: 'PF Din Text Cond Pro'
            font-size: 21px
            line-height: calc(25em / 21)
            font-weight: 500
            text-transform: uppercase
            letter-spacing: 0.1em
            color: #ffff
            &::before
                content: ''
                position: absolute
                width: 75px
                height: 73px
                top: 24px
                left: 50%
                transform: translateX(-50%)

            &::after
                content: ''
                position: absolute
                width: 100px
                height: 22px
                right: auto
                bottom: 39px
                top: auto
                left: 50%
                transform: translateX(-50%)
                background-image: url('../../icons/range/icon_1.png')
            @media (max-width: 576px)
                font-size: 28px
        // .items-range__item_times

        &_times
            background-image: url('../../img/range/times.png')
            span
                &::before
                    background-image: url('../../icons/range/times_.png')
        // .items-range__item_jewelry

        &_jewelry
            background-image: url('../../img/range/jewelry.png')
            span
                &::before
                    background-image: url('../../icons/range/jewelry_.png')
        // .items-range__item_transport

        &_transport
            background-image: url('../../img/range/transport.png')
            span
                &::before
                    background-image: url('../../icons/range/transport_.png')
        // .items-range__item_accessories

        &_accessories
            background-image: url('../../img/range/accessories.png')
            span
                &::before
                    background-image: url('../../icons/range/accessories_.png')
        // .items-range__item_real-estate

        &_real-estate
            background-image: url('../../img/range/real_estate.png')
            span
                &::before
                    background-image: url('../../icons/range/real_estate.png')
        // .items-range__item_hi-Tech

        &_hi-Tech
            background-image: url('../../img/range/hi_Tech.png')
            span
                &::before
                    background-image: url('../../icons/range/hi_Tech_.png')
        // .items-range__item_clothes

        &_clothes
            background-image: url('../../img/range/clothes.png')
            span
                &::before
                    background-image: url('../../icons/range/clothes_.png')
        // .items-range__item_art

        &_art
            background-image: url('../../img/range/art.png')
            span
                &::before
                    background-image: url('../../icons/range/art_.png')
        // .items-range__item_food

        &_food
            background-image: url('../../img/range/food.png')
            span
                &::before
                    background-image: url('../../icons/range/food_.png')
    // .items-range__figure-round

    &__figure-round
        position: absolute
        width: 10px
        height: 10px
        background-color: #bb9c66
        bottom: -27px
        border-radius: 100%

.items-range

    // .items-range__figure

    &__figure

.figure-range
    position: absolute
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    height: 286px
    right: -62px
    top: -36px
    @media (max-width: 948px)
        top: -62px

    // .figure-range__square

    &__square
        width: 24px
        height: 24px
        border: 2px solid #bb9c66
        transform: rotate(45deg)
    // .figure-range__line

    &__line
        width: 2px
        height: 100px
        background-color: #bb9c66
    // .figure-range__round

    &__round
        width: 10px
        height: 10px
        border-radius: 100%
        background-color: #bb9c66
        border: 1px solid #bb9c66
