.rc-menu
    border: none
    box-shadow: none
    color: #ffffff
    background-color: transparent
.rc-menu-horizontal > .rc-menu-item, .rc-menu-horizontal > .rc-menu-submenu > .rc-menu-submenu-title
    padding: 0px 0px 0px 0px
    font-family: 'PF Din Text Cond Pro'
.rc-menu-submenu .rc-menu-submenu-vertical .rc-menu-submenu-active
    color: white

.rc-menu-submenu .rc-menu 
    background-color: transparent
.rc-menu .rc-menu-submenu-active
    background-color: transparent
    color: red

.rc-menu-item-active, .rc-menu-submenu-active > .rc-menu-submenu-title
    background-color: transparent
.rc-menu-submenu-selected
    background-color: transparent

.rc-menu-vertical > .rc-menu-item
    padding: 0px 0px 0px 0px
    font-family: 'PF Din Text Cond Pro'
.rc-menu-item-selected
    background-color: transparent
.rc-menu-submenu-title > .rc-menu-submenu-active
    color: blue


.header
    height: 3000px
    background-color: #1c242a

    &__wrapper
        display: flex
        justify-content: space-between
        align-items: flex-end

    // .header__menu
    &__menu

    // .header__region

    &__region

.label-header

    // .label-header__img

    &__img
        list-style: none

.menu-header
    display: flex
    position: relative
    margin: 0px 0px 0px 0px
    justify-content: space-between
    align-items: flex-end
    font-size: 14px
    width: 450px
    line-height: 21px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.1em
    color: #ffffff
    list-style: none
    &__item
        padding: 0px 0px 0px 0px
        font-family: 'PF Din Text Cond Pro'

.region-header
    display: flex
    justify-content: space-between
    width: 14.5%

    // .region-header__earth

    &__earth
        width: 18px
        height: 18px
        border-radius: 0
    // .region-header__choice

    &__choice
        font-family: 'PF Din Text Cond Pro'
        font-size: 14px
        line-height: 21px
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 0.1em
        color: #ffffff
