.header
    display: flex
    justify-content: space-between
    &__btn
        text-decoration: none
        color: inherit
        display: inline-block
        font-family: "Roboto Condensed", sans-serif
        span
            color: #9F0013
    // &__wrapper
._container
    position: relative
    max-width: 1100px
    margin: 0 auto
    padding: 0 20px
._reset-btn
    border: none
    border-radius: 0
    background: none
    cursor: pointer
