@use 'sass:math'

.lots
    display: flex
    flex-direction: column
    padding: 85px 0px 0px 0px

.title_lots
    margin: 0 auto
.di
    display: flex
    flex-direction: row
.sub-title
    margin-top: 27px

.swiper
    width: 100%
    height: 694px
    margin-top: 50px
    @media (max-width: 400px)
        height: auto

.swiper-wrapper
    height: 530px !important

.swiper-button
    justify-content: space-between !important
    position: relative
    $resut: math.div(125,400) * 100%
    width: $resut !important
    bottom: 0
    &::after
        display: none
    &_wrapper
        display: flex 
        justify-content: space-between
        align-items: center
        margin: 0 auto
        margin-top: 48px
        $resut: math.div(400,950) * 100%
        width: $resut
        height: 100px
        position: relative
        @media (max-width: 768px)
            height: 78px
        @media (max-width: 400px)
            display: none

    &__title
        position: absolute
        top: 0px
        font-family: 'PF Din Text Cond Pro'
        font-size: 21px
        line-height: 25px
        font-weight: 500
        text-transform: uppercase
        color: #000000
        border-radius: 100%
        border: 3px solid #bb9c66
        left: 50%
        transform: translateX(-50%)
        text-align: center
        padding: 43px 13px 42px 13px
        @media (max-width: 768px)
            font-size: 15px
            padding: 24px 5px 24px 5px

    // .swiper-button_next

    &_next
        flex-direction: row-reverse

    // .swiper-button__img

    &__img
        position: absolute

        // .swiper-button__img_prev

        &_prev
            left: 0
        // .swiper-button__img_next

        &_next
            right: 0
            left: auto

    // .swiper-button__line

    &__line
        display: block
        $resut: math.div(107,125) * 100%
        width: $resut
        // width: 107px
        height: 1px
        border: 1px solid #bb9c66
        @media (max-width: 767px)
            display: none

    // .swiper-button__round

    &__round
        width: 12px
        height: 12px
        border-radius: 100%
        border: 1px solid #bb9c66
        @media (max-width: 992px)
            display: none

.swiper-slide
    display: flex
    justify-content: center
    img
        width: 250px
        height: 251px
    &__wrapper
        display: flex
        flex-direction: column
        width: 250px
        height: 100%
       
    &__subWrapper
        position: relative
        width: 250px
        height: 251px
    &__dsc
        text-align: center
        margin-top: 30px
        z-index: 1

    &__evaluate
        width: 100%
        display: flex
        justify-content: space-between
        margin-top: 30px

    &__btn
        margin: 0 auto
        margin-top: 24px
        font-family: 'PF Din Text Cond Pro'
        font-size: 21px
        line-height: 25px
        font-weight: 500
        text-transform: uppercase
        color: #000000
        width: 203px
        height: 50px
        border: 3px solid #bb9c66
        background: white
    &__all-slide
            display: flex
            justify-content: center
            flex-direction: row
            flex-wrap: wrap        
            > .swiper-slide
                padding: 10px 10px 10px 10px
                flex-shrink: inherit
                width: auto
                height: auto
    

.evaluate-slide

    &__block
        width: 50px
        display: flex
        flex-direction: column
        align-items: center

    // .evaluate-slide__icon

    &__icon
        width: 25px
        height: 25px
        display: block

        // .evaluate-slide__icon_vies

        &_vies
            background: url('../../icons/lots/rectangle_eye.png') center center/cover no-repeat
        // .evaluate-slide__icon_vote

        &_vote
            background: url('../../icons/lots/rectangle_vote.png') center center/cover no-repeat
    // .evaluate-slide__num

    &__num
        margin-top: 8px
        text-align: center
        font-family: 'PT Sans'
        font-size: 14px
        line-height: 25px
        font-weight: 400
        color: #000000

    // .evaluate-slide__line

    &__line
        margin-top: 6px
        display: block
        width: 50px
        height: 1px
        background-color: #bb9c66

    // .evaluate-slide__main

    &__main
        // width: 137px
        height: 102px

    // .evaluate-slide__main-wrapper

    &__main-wrapper
        position: relative

    // .evaluate-slide__title

    &__title
        font-family: 'PT Sans'
        font-size: 14px
        line-height: 25px
        font-weight: 400
        color: #000000
        text-align: center

    // .evaluate-slide__sum

    &__sum
        margin-top: 13px
        font-family: 'Bravo RG'
        font-size: 30px
        line-height: 21px
        font-weight: 400
        color: #1c242a
        text-align: center
    &__sum-labble
        margin-top: 10px
        text-align: center

    // .evaluate-slide__square-icon

    &__square-icon
        z-index: -1
        position: absolute
        left: 50%
        transform: translateX(-50%)
        display: block
        width: 100px
        height: 100px
        background: url('../../icons/lots/ellipse.png') center center/cover no-repeat

.swiper-transition
    opacity: 1
    
    &-enter
        opacity: 0
        transition: all 300ms

        
    &-enter-active
        opacity: 0
        transition: all 300ms
        display: block

    &-enter-done
        opacity: 1
        transition: all 300ms

    &-exit
        opacity: 0
        transition: all 300ms

    &-exit-active
        opacity: 0
        transition: all 300ms
    &-exit-done
        opacity: 0
        display: none

.swiper-transition-all-slide
    opacity: 0 
    transition: all 300ms 
    display: none
    
    &-enter
        opacity: 0
        display: block
        transition: all 300ms
    &-enter-active
        opacity: 0
        transition: all 300ms

    &-enter-done
        opacity: 1
        transition: all 300ms
        display: block

    &-exit
        opacity: 1
        transition: all 300ms

    &-exit-active
        opacity: 0
        transition: all 300ms

    &-exit-done
        opacity: 0
        transition: all 300ms
        display: none
        