.lots
    display: flex
    flex-direction: column
    padding: 85px 0px 63px 0px

.title_lots
    margin: 0 auto

.sub-title
    margin-top: 27px

.swiper
    width: 100%
    margin-top: 50px
    
.swiper-slide
    display: flex
    justify-content: center   
    img
        width: 250px
        height: 251px